#canvas-container,
#canvas-container_2 {
    // background-color: #51518d;
    // width: 80%;

    background-color: transparent;
    // height: auto;

    touch-action: none;
    cursor: inherit;
    display: inline-block;
}